{% extends "site_layout/demo_layout.html" %}

{% block title %}User Profile{% endblock %}

{% block css_styles %}
    <!--<link rel="stylesheet" href={{ url_for("static", filename="css/#") }}>-->
{% endblock %}

{% block menu_title %} User Profile {% endblock %}
{% block page_body %}
<section class="section profile ms-3 me-3">
  <div class="row">
    <div class="col-xl-4">

      <div class="card">
        <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">

          {% if user.profile_img %}
            <img src={{ url_for("user.profile_image", img_name=user.profile_img) }} alt="Profile" class="rounded-circle border">
          {% else %}
            <img src={{ url_for("static", filename="images/layout/default_avatar.png") }} alt="Profile" class="rounded-circle">
          {% endif %}
          <h2>{{ user.name }}</h2>
          <h3>{{ user.role.capitalize() }}</h3>
          <div class="social-links mt-2">
            <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
            <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
            <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
            <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
          </div>
        </div>
      </div>

    </div>

    <div class="col-xl-8">

      <div class="card">
        <div class="card-body pt-3">
          <!-- Bordered Tabs -->
          <ul class="nav nav-tabs nav-tabs-bordered">

            <li class="nav-item">
              <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-overview">Overview</button>
            </li>

            <li class="nav-item">
              <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-edit">Edit Profile</button>
            </li>

            <li class="nav-item">
              <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-change-password">Change Password</button>
            </li>

          </ul>
          <div class="tab-content pt-2">

            <div class="tab-pane fade show active profile-overview" id="profile-overview">
              <h5 class="card-title">About</h5>
              {% if user.about %}
                <p>{{ user.about }}</p>
              {% else %}
                <p>{{ user.name }} is a talented writer and communicator known for his ability to craft compelling stories and messages. He holds a Bachelor's degree in English Literature from California State University, Fullerton, and brings several years of professional writing experience to the table.</p>
              {% endif %}

              <h5 class="card-title">Profile Details</h5>

              <div class="row">
                <div class="col-lg-3 col-md-4 label ">Full Name</div>
                <div class="col-lg-9 col-md-8">{{ user.name.capitalize() }}</div>
              </div>

              <div class="row">
                <div class="col-lg-3 col-md-4 label">Company</div>
                <div class="col-lg-9 col-md-8">Bliss Legacy Limited</div>
              </div>

              <div class="row">
                <div class="col-lg-3 col-md-4 label">Role</div>
                <div class="col-lg-9 col-md-8">{{ user.role.capitalize() }}</div>
              </div>

              <div class="row">
                <div class="col-lg-3 col-md-4 label">Country</div>
                <div class="col-lg-9 col-md-8">Nigeria</div>
              </div>

              <div class="row">
                <div class="col-lg-3 col-md-4 label">Address</div>
                <div class="col-lg-9 col-md-8">{{ user.address }}</div>
              </div>

              <div class="row">
                <div class="col-lg-3 col-md-4 label">Phone</div>
                <div class="col-lg-9 col-md-8">
                  {% if user.phone_number %}
                    {{ user.phone_number }}
                  {% else %}
                    +2349087534672
                  {% endif %}
                </div>
              </div>

              <div class="row">
                <div class="col-lg-3 col-md-4 label">Email</div>
                <div class="col-lg-9 col-md-8">{{ user.email }}</div>
              </div>

            </div>

            <div class="tab-pane fade profile-edit pt-3" id="profile-edit">

              <!-- Profile Image Update Section -->
              <div class="row mb-3">
                <label for="profileImage" class="col-md-4 col-lg-3 col-form-label">Profile Image</label>
                <div class="col-md-8 col-lg-9">
                  {% if user.profile_img %}
                    <img src={{ url_for("user.profile_image", img_name=user.profile_img) }} alt="Profile" class="rounded-circle border">
                  {% else %}
                    <img src={{ url_for("static", filename="images/layout/default_avatar.png") }} alt="Profile" class="rounded-circle">
                  {% endif %}
                  <div class="p-3 ms-2">
                    <button 
                      type="button" 
                      class="btn btn-primary btn-sm me-2" 
                      data-bs-toggle="modal" 
                      data-bs-target="#uploadProfileImage"
                      title="Upload new profile image"
                    >
                      <i class="bi bi-upload"></i>
                    </button>
                    <!--
                    <a href="#" class="btn btn-primary btn-sm" title="Upload new profile image"><i class="bi bi-upload"></i></a>
                    -->
                    <!-- <a href="#" id="thrashPicture" class="btn btn-danger btn-sm" title="Remove my profile image"><i class="bi bi-trash"></i></a> -->
                    <button
                      id="thrashPicture" 
                      class="btn btn-danger btn-sm" 
                      title="Remove my profile image">
                        <i class="bi bi-trash"></i>
                    </button>
                  </div>
                  <div class="modal fade" id="uploadProfileImage" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="staticBackdropLabel">Upload Profile Image</h5>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                          <form
                            id="profileImageUpload"
                            method="post" 
                            enctype="multipart/form-data"
                            class="needs-validation"
                            novalidate
                          >
                            <input type="file" class="form-control" id="profileImage" accept=".png,.jpg" required>
                            <div class="invalid-feedback">
                              select an image file.
                            </div>
                            <div class="mt-3 mb-3">
                              <button type="reset" class="btn btn-danger me-2">Reset</button>
                              <button type="submit" class="btn btn-success">Upload</button>
                            </div>
                          </form>
                        </div>
                        <!--
                        <div class="modal-footer">
                          <button type="reset" class="btn btn-danger">Reset</button>
                          <button id="profileImageUpload" type="submit" class="btn btn-success">Upload</button>
                        </div>
                        -->
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Profile Edit Form -->
              <form id="updateProfile" class="form-control need-validation p-3" novalidate>
                <div class="row mb-3">
                  <label for="fullName" class="col-md-4 col-lg-3 col-form-label">Full Name</label>
                  <div class="col-md-7 col-lg-4">
                    <input name="fullName" type="text" class="form-control" id="fullName" value="{{ user.name }}" disabled>
                  </div>
                </div>

                <div class="row mb-3">
                  <label for="about" class="col-md-4 col-lg-3 col-form-label">About</label>
                  <div class="col-md-8 col-lg-9">
                    {% if user.about %}
                      <textarea name="about" class="form-control" id="about" style="height: 100px">{{ user.about }}</textarea>
                    {% else %}
                      <textarea name="about" class="form-control" id="about" style="height: 100px">{{ user.name }} is a talented writer and communicator known for his ability to craft compelling stories and messages. He holds a Bachelor's degree in English Literature from California State University, Fullerton, and brings several years of professional writing experience to the table.</textarea>
                    {% endif %}
                  </div>
                </div>

                <div class="row mb-3">
                  <label for="company" class="col-md-4 col-lg-3 col-form-label">Company</label>
                  <div class="col-md-7 col-lg-4">
                    <input name="company" type="text" class="form-control" id="company" value="Bliss Legacy Limited" disabled>
                  </div>
                </div>

                <div class="row mb-3">
                  <label for="Job" class="col-md-4 col-lg-3 col-form-label">Role</label>
                  <div class="col-md-7 col-lg-4">
                    <input name="role" type="text" class="form-control" id="Job" value="{{ user.role.capitalize() }}" disabled>
                  </div>
                </div>

                <div class="row mb-3">
                  <label for="Country" class="col-md-4 col-lg-3 col-form-label">Country</label>
                  <div class="col-md-7 col-lg-4">
                    <input name="country" type="text" class="form-control" id="Country" value="Nigeria" disabled>
                  </div>
                </div>

                <div class="row mb-3">
                  <label for="Address" class="col-md-4 col-lg-3 col-form-label">Address</label>
                  <div class="col-md-8 col-lg-9">
                    <input name="address" type="text" class="form-control" id="Address" value="{{ user.address }}">
                  </div>
                </div>

                <div class="row mb-3">
                  <label for="Phone" class="col-md-4 col-lg-3 col-form-label">Phone</label>
                  <div class="col-md-7 col-lg-4">
                    <input name="phone" type="text" class="form-control" id="Phone" value="{{ user.phone_number }}" disabled>
                  </div>
                </div>

                <div class="row mb-3">
                  <label for="Email" class="col-md-4 col-lg-3 col-form-label">Email</label>
                  <div class="col-md-7 col-lg-4">
                    <input name="email" type="email" class="form-control" id="Email" value={{ user.email }} disabled>
                  </div>
                </div>

                <div class="row mb-3">
                  <label for="Twitter" class="col-md-4 col-lg-3 col-form-label">Twitter Profile</label>
                  <div class="col-md-7 col-lg-4">
                    {% if user.social_media %}
                      <input name="twitter" type="text" class="form-control" id="Twitter" value="{{ user.social_media[0].twitter }}">
                    {% else %}
                      <input name="twitter" type="text" class="form-control" id="Twitter" value="https://twitter.com/#">
                    {% endif %}
                  </div>
                </div>

                <div class="row mb-3">
                  <label for="Facebook" class="col-md-4 col-lg-3 col-form-label">Facebook Profile</label>
                  <div class="col-md-7 col-lg-4">
                    {% if user.social_media %}
                      <input name="facebook" type="text" class="form-control" id="Facebook" value="{{ user.social_media[0].facebook }}">
                    {% else %}
                      <input name="facebook" type="text" class="form-control" id="Facebook" value="https://facebook.com/#">
                    {% endif %}
                  </div>
                </div>

                <div class="row mb-3">
                  <label for="Instagram" class="col-md-4 col-lg-3 col-form-label">Instagram Profile</label>
                  <div class="col-md-7 col-lg-4">
                    {% if user.social_media %}
                      <input name="instagram" type="text" class="form-control" id="Instagram" value="{{ user.social_media[0].instagram }}">
                    {% else %}
                      <input name="instagram" type="text" class="form-control" id="Instagram" value="https://instagram.com/#">
                    {% endif %}
                  </div>
                </div>

                <div class="row mb-3">
                  <label for="Linkedin" class="col-md-4 col-lg-3 col-form-label">Linkedin Profile</label>
                  <div class="col-md-7 col-lg-4">
                    {% if user.social_media %}
                      <input name="linkedin" type="text" class="form-control" id="Linkedin" value="{{ user.social_media[0].linkedin }}">
                    {% else %}
                      <input name="linkedin" type="text" class="form-control" id="Linkedin" value="https://linkedin.com/#">
                    {% endif %}
                  </div>
                </div>

                <div class="text-center">
                  <button type="submit" class="btn btn-primary">Save Changes</button>
                </div>
              </form><!-- End Profile Edit Form -->

            </div>    

            <div class="tab-pane fade pt-3" id="profile-change-password">

              <!-- Change Password Form -->
              <form
                id="updatePasswordForm"
                action="{{ url_for("user.update_user_password") }}" 
                class="needs-validation" 
                method="POST" 
                novalidate
              >

                <div class="row mb-3">
                  <label for="currentPassword" class="col-md-4 col-lg-3 col-form-label">Current Password</label>
                  <div class="col-md-8 col-lg-4">
                    <input name="current_pwd" type="password" class="form-control" id="currentPassword" required>
                    <div class="invalid-feedback">
                      missing present password.
                    </div>
                  </div>
                </div>

                <div class="row mb-3">
                  <label for="newPassword" class="col-md-4 col-lg-3 col-form-label">New Password</label>
                  <div class="col-md-8 col-lg-4">
                    <input name="new_pwd" type="password" class="form-control" id="newPassword" required>
                    <div class="invalid-feedback">
                      enter new password.
                    </div>
                  </div>
                </div>

                <div class="row mb-3">
                  <label for="renewPassword" class="col-md-4 col-lg-3 col-form-label">Re-enter New Password</label>
                  <div class="col-md-8 col-lg-4">
                    <input name="validate_pwd" type="password" class="form-control" id="confirmPassword" required>
                    <div class="invalid-feedback">
                      confirm new password.
                    </div>
                  </div>
                </div>

                <div class="text-center">
                  <button type="submit" class="btn btn-primary">Change Password</button>
                </div>
              </form><!-- End Change Password Form -->

            </div>

          </div><!-- End Bordered Tabs -->

        </div>
      </div>

    </div>
  </div>
</section>
{% endblock %}
{% block specific_js %}
    <!-- your  js files per page-->
    <script src="{{ url_for("static", filename="js/users/updatePasswordHandler.js") }}" type="module"></script>
    <script src="{{ url_for("static", filename="js/users/updateProfile.js") }}" type="module"></script>
    <script src="{{ url_for("static", filename="js/documents/profileImageUpload.js") }}" type="module"></script>
    <script src="{{ url_for("static", filename="js/documents/deleteProfileImage.js") }}" type="module"></script>
 {% endblock %}