{% extends "site_layout/demo_layout.html" %}

{% block title %}User Documents{% endblock %}

{% block css_styles %}
    <link rel="stylesheet" href={{ url_for("static", filename="css/components/document_dropdown.css") }}>
{% endblock %}

{% block menu_title%} My Documents {% endblock %}
{% block page_body %}
<section>
    <div class="card">
        <div class="card-body">
        <h5 class="card-title">Showing All Documents</h5>

        <!-- Table with stripped rows -->
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">S/N</th>
                <th scope="col">Id</th>
                <th scope="col">Client</th>
                <th scope="col">Branch</th>
                <th scope="col">Category</th>
                <th scope="col">More</th>
            </tr>
            </thead>
            <tbody>
                {% if all_documents %}
                    {% for doc in all_documents %}
                        <tr>
                            <th scope="row">{{ all_documents.index(doc) + 1 }}</th>
                            <td>
                                <a href="{{ url_for('documents.download_document', file_name=doc.file_name) }}" class="text-decoration-none text-dark">
                                    {{ doc.file_id }}
                                </a>
                                <h6><span class="badge border-info border-1 text-info">{{ doc.upload_time.strftime('%B %d, %Y at %I:%M %p') }}</span></h6>
                            </td>
                            <td>
                                {{ doc.client.last_name }} {{ doc.client.first_name }}<br>
                                <span class="badge bg-success">{{ doc.client_id }}</span>
                            </td>
                            <td>{{ doc.client.branch.capitalize() }}</td>
                            <td>{{ doc.doc_category.capitalize() }}</td>
                            <td>
                                <div class="dropdown">
                                    <button class="btn btn-warning btn-sm" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                                        <i class="bi bi-three-dots-vertical"></i>
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                        <li>
                                            <a class="dropdown-item" href="#">File Details</a>
                                        </li>

                                        {% if doc.file_name.split(".")[-1] == "pdf" %}
                                            <li>
                                                <a class="dropdown-item" href="{{ url_for('documents.download_document', file_name=doc.file_name) }}">View</a>
                                            </li>
                                        {% else %}
                                            <li>
                                                <a class="dropdown-item" href="{{ url_for('documents.download_document', file_name=doc.file_name) }}" target="blanck">Download</a>
                                            </li>
                                        {% endif %}
                                        <li><hr class="dropdown-divider"></li>
                                        <li><a class="dropdown-item" href="#">Delete</a></li>
                                    </ul>
                                </div>

                                <!--
                                <button class="btn btn-warning">
                                    <i class="bi bi-three-dots-vertical"></i>
                                </button> -->
                            </td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <th scope="row">2</th>
                        <td>BLL-1234567890</td>
                        <td>Bridie Kessler</td>
                        <td>Obakhavbaye</td>
                        <td>Deed Of Transfer</td>
                        <td>
                            <button class="btn btn-warning btn-sm dropdown">
                                <i class="bi bi-three-dots-vertical"></i>
                            </button>
                        </td>
                    </tr>
                {% endif %}
            </tbody>
        </table>
        <!-- End Table with stripped rows -->

        </div>
    </div>
</section>
{% endblock %}

{% block specific_js %}
    <script src={{ url_for("static", filename="js/documents/documentHandler.js") }} type="module" defer></script>
{% endblock %}