{% extends "site_layout/demo_layout.html" %}

{% block title %}Document Uploads{% endblock %}

{% block menu_title %} Upload Files {% endblock %}
{% block css_styles %}
    <!-- your css styles per page -->
   <!-- <link rel="stylesheet" href={{ url_for("static", filename="css/uploads.css") }}> -->
{% endblock %}

{% block page_body %}
  <!-- body content -->
  <section>
    <div class="card m-3">
      <div class="card-body">
        <h5 class="card-title">Enter Client Details</h5>

        <!-- No Labels Form -->
        <form class="needs-validation row g-3" id="uploadDocument" action="#" method="POST" enctype="multipart/form-data" novalidate>
          <div class="col-md-6">
            <input type="text" class="form-control" id="firstName" name="clientFirstName" placeholder="First Name" required>
            <div class="invalid-feedback">
              Client First Name missing.
            </div>
          </div>
          <div class="col-md-6">
            <input type="text" class="form-control" id="lastName" name="clientLastName" placeholder="Last Name" required>
            <div class="invalid-feedback">
              Client Last Name missing.
            </div>
          </div>
          <div class="col-md-6">
            <input type="email" class="form-control" id="clientEmail" name="clientEmail" placeholder="Enter Client Email" required>
            <div class="invalid-feedback">
              Client email missing.
            </div>
          </div>
          <div class="col-md-6">
            <input type="text" class="form-control" id="clientPhoneNumber" name="clientPhoneNumber" placeholder="Phone Number" required>
            <div class="invalid-feedback">
              Client Phone Number missing.
            </div>
          </div>
          <div class="col-12">
            <input type="text" class="form-control" id="clientAddress" name="clientAddress" placeholder="12 Main St" required>
            <div class="invalid-feedback">
              Client Address missing.
            </div>
          </div>
          <h5 class="card-title ps-2">Enter File Details</h5>
          <div class="col-sm-6">
            <label for="inputBranch" class="form-label">Branch</label>
            <select class="form-select needs-validation" id="clientBranch" name="clientBranch" required>
              <option selected>Choose...</option>
              {% for branch in branches %}
                <option value="{{ branch }}">{{ branch.capitalize() }}</option>
              {% endfor %}
              <div class="invalid-feedback">
                Kindly select a branch.
              </div>
            </select>
          </div>
          <div class="col-sm-6">
            <label for="inputState" class="form-label">Document Type</label>
            <select class="form-select" id="documentCategory" name="documentCategory" required>
              <option selected>Choose...</option>
              {% for categories in doc_category %}
                <option value="{{ categories }}">{{ categories.title() }}</option>
              {% endfor %}
            </select>
          </div>
          <div class="invalid-feedback">
            Kindly choose a category.
          </div>
          <div class="col-sm-6">
            <label class="form-label">Document Id</label>
            <input class="form-control" type="text" id="docId">
            <div class="invalid-feedback">
              Kindly choose a file to proceed.
            </div>
          </div>
          <div class="col-sm-6">
            <label class="form-label">File (<code>.pdf</code> <code>.doc</code> and <code>.docx</code>)</label>
            <input class="form-control" type="file" id="formFile" name="formFile" accept=".pdf,.doc,.docx" required>
            <div class="invalid-feedback">
              Kindly choose a file to proceed.
            </div>
          </div>
          <div class="text-center p-3">
            <button type="submit" class="btn btn-success me-1">Upload Document  <i class="bi bi-cloud-arrow-up"></i></button>
            <button type="reset" class="btn btn-danger ms-1">Reset <i class="bi bi-x-circle"></i></button>
          </div>
        </form><!-- End No Labels Form -->

      </div>
    </div>
  </section>
{% endblock %}

{% block specific_js %}
<!-- your js script tag-->
 
  <script src={{ url_for("static", filename="js/documents/fileUpload.js")}} type="module" defer></script>
{% endblock %}