.body {
  font-family: Arial, sans-serif;
  background-color: #128185;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.login-container {
  background-image:radial-gradient(white,#478778);
  margin-bottom:-120px;
  padding-top:-40px;
  padding-left:40px;
  padding-right:40px ;
  border-radius:15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 350px;
  color: white;
  font-family:Lato;
}

form {
  display: flex;
  flex-direction: column;
}

  h2{
    position: relative;
    top:-39px;
    color:black;
    text-align: center;

  }
  h6{
    position: relative;
    top:-25px;
    color:black;
    text-align: center;
    
  }
  .h3,h6,.forget, button{
    font-family:lato;
  }

.log{
position: relative;
top:-70px;
}
.form-group {
  margin-bottom: 15px;
  font-family:Lato;
}

label {
  font-weight: bold;


}

input[type="email"],
input[type="password"] {
  padding: 4px;
  border: 1px solid #272626;
  border-radius: 8px;
  width: 100%;
  outline:none;
}

.log button{
  background-color:rgb(18, 124, 18);
  color: black;
  border: none;
  padding: 5px;
  cursor: pointer;
  border-radius:10px;
  padding-left:90px;
  padding-right:90px;
  margin-left:-40px;
  font-family: Lato;
}

button:hover {
  background-color: #67d667;
}
img{
  position: relative;
  top:-100px;
  left:-25px;
  width:250px;
  padding-left:59px;
  padding-bottom:30px;
  padding-top:80px;
  display: flex;
}

a{
   margin-top:15px;
   margin-left:67px;
   font-family:Lato;
}
.log a{
  text-decoration:none;
  color:black;
}
