/* Notification styling */
#notification {
    display: none;
    position: fixed;
    top: 10%;
    right: 20px;
    padding: 10px 20px;
    background-color: #4caf50; /* Green background */
    color: rgb(253, 251, 251);
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}
/* Notification for warning */
#notification.warning {
    background-color: #ff9800; /* #FFBF17 Orange background */
}