body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color:white;
    padding: 40px;
    border-radius:30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 500px;
    padding-top:9px;
}

form {
    display: flex;
    flex-direction: column;
}

h2 {
    text-align: center;
    margin-bottom: 10px;
}

p {
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    font-weight: bold;
}

input[type=email], button {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    margin-left:-10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    outline:none;
}

button{
    background-color:rgb(38, 177, 38);
    color: black;
    border: none;
    cursor: pointer;
    margin-left:-1px;
    padding-left:5px;
    padding-right:5px;
    border-radius:20px;
    
}

button:hover {
    background-color: #2edf37;
}