{% extends "site_layout/demo_layout.html" %}

{% block title %}Staff Documentation{% endblock %}


{% block css_styles %}
    <!-- your css styles per page -->
    <link rel="stylesheet" href={{ url_for("static", filename="css/misc/staff_faq.css") }}>
{% endblock %}

{% block menu_title %}Usage Docs{% endblock %}

{% block page_body %}
    <!-- body content -->
     <section class="section faq">
        <div class="row">
            <div class="col-lg-6">

                <!-- Basic Usage -->
                <div class="card basic">
                    <div class="card-body">
                    <h5 class="card-title">Basic Questions</h5>

                    <div>
                        <h6>1. How do I upload a document?</h6>
                        <p>Navigate to the Upload tab, choose the desired file, click the Upload button, and wait for confirmation.</p>
                    </div>

                    <div class="pt-2">
                        <h6>2. Can I share my stored documents with others?</h6>
                        <p>Yes, our service permits sharing individual documents or entire folders with specific users or groups via secure links.</p>
                    </div>

                    <div class="pt-2">
                        <h6>3. Are there size limits for uploaded documents?</h6>
                        <p>Currently, we support single file sizes upto 5 MB. In the coming release file sizes greater than 5mb can be uploaded.</p>
                    </div>

                    </div>
                </div>

                <!-- Documents F.A.Q -->
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Document Details</h5>
                        <div class="accordion accordion-flush" id="faq-group-1">
                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed" data-bs-target="#faqsOne-1" type="button" data-bs-toggle="collapse">
                                        Which file formats does the service support?
                                    </button>
                                </h2>
                                <div id="faqsOne-1" class="accordion-collapse collapse" data-bs-parent="#faq-group-1">
                                    <div class="accordion-body">
                                        As off Now we only support <code>pdf</code> and <code>.doc/.docx</code>we'll add more updates in future updates.
                                    </div>
                                </div>
                            </div>

                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed" data-bs-target="#faqsOne-2" type="button" data-bs-toggle="collapse">
                                        Are there any lose of data?
                                    </button>
                                </h2>
                                <div id="faqsOne-2" class="accordion-collapse collapse" data-bs-parent="#faq-group-1">
                                    <div class="accordion-body">
                                        No. We have a secure and reliable system that ensures your data is safe and secure.
                                    </div>
                                </div>
                            </div>

                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed" data-bs-target="#faqsOne-3" type="button" data-bs-toggle="collapse">
                                        How long are documents retained in the account?
                                    </button>
                                </h2>
                                <div id="faqsOne-3" class="accordion-collapse collapse" data-bs-parent="#faq-group-1">
                                    <div class="accordion-body">
                                        Files remain available unless manually deleted or expired according to subscription plans. Refer to the S3 Storage Policy for retention periods.
                                    </div>
                                </div>
                            </div>

                            <!--
                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed" data-bs-target="#faqsOne-4" type="button" data-bs-toggle="collapse">
                                        Quo unde eaque vero dolor quis ipsam?
                                    </button>
                                </h2>
                                <div id="faqsOne-4" class="accordion-collapse collapse" data-bs-parent="#faq-group-1">
                                    <div class="accordion-body">
                                        Numquam ut reiciendis aliquid. Quia veritatis quasi ipsam sed quo ut eligendi et non. Doloremque sed voluptatem at in voluptas aliquid dolorum.
                                    </div>
                                </div>
                            </div>

                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed" data-bs-target="#faqsOne-5" type="button" data-bs-toggle="collapse">
                                        Natus sunt quo atque mollitia accusamus?
                                    </button>
                                </h2>
                                <div id="faqsOne-5" class="accordion-collapse collapse" data-bs-parent="#faq-group-1">
                                    <div class="accordion-body">
                                        Aut necessitatibus maxime quis dolor et. Nihil laboriosam molestiae qui molestias placeat corrupti non quo accusamus. Nemo qui quis harum enim sed. Aliquam molestias pariatur delectus voluptas quidem qui rerum id quisquam. Perspiciatis voluptatem voluptatem eos. Vel aut minus labore at rerum eos.
                                    </div>
                                </div>
                            </div>
                            -->
                        </div>

                    </div>
                </div>
                <!-- End Documents F.A.Q -->
            </div>

            <div class="col-lg-6">
                <!-- Authentication F.A.Q -->
                <div class="card me-3">
                    <div class="card-body">
                        <h5 class="card-title">Authentication</h5>
                        <div class="accordion accordion-flush" id="faq-group-2">
                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed" data-bs-target="#faqsTwo-1" type="button" data-bs-toggle="collapse">
                                        How does the service prevent unwanted intrusions?
                                    </button>
                                </h2>
                                <div id="faqsTwo-1" class="accordion-collapse collapse" data-bs-parent="#faq-group-2">
                                    <div class="accordion-body">
                                        Industry-standard HTTPS encrypts transmissions, SHA-256 hash secures passwords, Two-Factor Authentication bolsters security, and rate limiting mitigates bruteforce attacks.
                                    </div>
                                </div>
                            </div>

                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed" data-bs-target="#faqsTwo-2" type="button" data-bs-toggle="collapse">
                                        Will my personal details ever be sold to advertisers?
                                    </button>
                                </h2>
                                <div id="faqsTwo-2" class="accordion-collapse collapse" data-bs-parent="#faq-group-2">
                                    <div class="accordion-body">
                                        No personal information is ever shared with third parties. We respect your privacy and adhere to strict data protection laws.
                                    </div>
                                </div>
                            </div>

                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed" data-bs-target="#faqsTwo-3" type="button" data-bs-toggle="collapse">
                                        Can I monitor my account activity?
                                    </button>
                                </h2>
                                <div id="faqsTwo-3" class="accordion-collapse collapse" data-bs-parent="#faq-group-2">
                                    <div class="accordion-body">
                                        Yes, the Activity Log provides a detailed record of all account actions, including uploads, downloads, and sharing activities.
                                    </div>
                                </div>
                            </div>

                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed" data-bs-target="#faqsTwo-4" type="button" data-bs-toggle="collapse">
                                        How can I reset forgotten credentials?
                                    </button>
                                </h2>
                                <div id="faqsTwo-4" class="accordion-collapse collapse" data-bs-parent="#faq-group-2">
                                    <div class="accordion-body">
                                        The Forgot Password feature allows users to reset their password via email. Visit the login screen and click Forgot Password? Provide your registered email address, receive recovery instructions, and regain access promptly.
                                    </div>
                                </div>
                            </div>

                            <!--
                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed" data-bs-target="#faqsTwo-5" type="button" data-bs-toggle="collapse">
                                        Laboriosam asperiores eum?
                                    </button>
                                </h2>
                                <div id="faqsTwo-5" class="accordion-collapse collapse" data-bs-parent="#faq-group-2">
                                    <div class="accordion-body">
                                        Aut necessitatibus maxime quis dolor et. Nihil laboriosam molestiae qui molestias placeat corrupti non quo accusamus. Nemo qui quis harum enim sed. Aliquam molestias pariatur delectus voluptas quidem qui rerum id quisquam. Perspiciatis voluptatem voluptatem eos. Vel aut minus labore at rerum eos.
                                    </div>
                                </div>
                            </div> -->

                        </div>

                    </div>
                </div>
                <!-- End Authentication F.A.Q -->

                <!-- Miscelleanous F.A.Q -->
                <div class="card me-3">
                    <div class="card-body">
                        <h5 class="card-title">Miscelleanous</h5>
                        <div class="accordion accordion-flush" id="faq-group-3">

                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed" data-bs-target="#faqsThree-1" type="button" data-bs-toggle="collapse">
                                        Does the service support mobile devices?
                                    </button>
                                </h2>
                                <div id="faqsThree-1" class="accordion-collapse collapse" data-bs-parent="#faq-group-3">
                                    <div class="accordion-body">
                                        Yes, our service is fully compatible with mobile devices. You can access your account, upload, download, and share files on the go with any web-enabled device.
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed" data-bs-target="#faqsThree-2" type="button" data-bs-toggle="collapse">
                                        Is there a recommended naming convention for files?
                                    </button>
                                </h2>
                                <div id="faqsThree-2" class="accordion-collapse collapse" data-bs-parent="#faq-group-3">
                                    <div class="accordion-body">
                                        We recommend using descriptive filenames that include relevant keywords, dates, and version numbers. This practice helps organize and locate files efficiently.
                                    </div>
                                </div>
                            </div>

                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed" data-bs-target="#faqsThree-3" type="button" data-bs-toggle="collapse">
                                        What incentivizes ongoing improvements?
                                    </button>
                                </h2>
                                <div id="faqsThree-3" class="accordion-collapse collapse" data-bs-parent="#faq-group-3">
                                    <div class="accordion-body">
                                        User feedback, industry trends, and technological advancements drive our commitment to enhancing the service. We strive to deliver a seamless user experience and innovative features that meet evolving needs.
                                    </div>
                                </div>
                            </div>

                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed" data-bs-target="#faqsThree-4" type="button" data-bs-toggle="collapse">
                                        can I share my stored documents with others?
                                    </button>
                                </h2>
                                <div id="faqsThree-4" class="accordion-collapse collapse" data-bs-parent="#faq-group-3">
                                    <div class="accordion-body">
                                        As at now, we don't support file sharing just file storage.
                                    </div>
                                </div>
                            </div>

                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed" data-bs-target="#faqsThree-5" type="button" data-bs-toggle="collapse">
                                        What profile picture size do you recommend?
                                    </button>
                                </h2>
                                <div id="faqsThree-5" class="accordion-collapse collapse" data-bs-parent="#faq-group-3">
                                    <div class="accordion-body">
                                        We recommend a square image with a minimum size of 200x200 pixels for optimal display. Larger images may be cropped or resized to fit the profile picture frame.
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
                <!-- End F.A.Q Group 3 -->
            </div>
        </div>
    </section>

{% endblock %}
<!-- your js script tag-->
 
 {% block specific_js %}
    <!-- your  js files per page-->
    <!--<script src={{ url_for("static", filename="js/#") }}></script> -->
 {% endblock %}