<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>BLL Cloud Platform - Request Token</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
        <link rel="stylesheet" href={{ url_for("static", filename="css/request_password_token.css") }}>
        <link rel="stylesheet" href={{ url_for("static", filename="css/components/spinner.css") }}>
        <link rel="stylesheet" href={{ url_for("static", filename="css/components/notification.css") }}>
    </head>
    <body class="body">
        <div id="spinner" class="spinner" style="display: none;"></div>
        <div class="login-container">
            <h3>Forgot password</h3>
            <h5>Enter your email address below</h5>
            <form id="loginForm" action="#" method="post">
                <div class="form-group">
                    <input type="email" id="email" name="email" required placeholder="Email"><br>
                    <a href="{{ send_email }}"><button>Reset password</button></a>
                </div>
            </form>
        </div>
        <div id="notification"></div>
        <script src={{ url_for("static", filename="js/notifications.js") }} defer></script>
        <script src={{ url_for("static", filename="js/requestPasswordReset.js") }} type="module"></script>
    </body>   
</html>