<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>BLL Cloud Platform - Request Token</title>
        <link rel="stylesheet" href="assets/css/request_password_token.css">
    </head>
    <body>
        <div class="container">
            <h2>Forgot Password</h2>
            <p>Enter your email address below to receive a password reset link.</p>
            <div class="form-group">
                <input type="email"  placeholder="Email">
            </div>
            <a href="#"><button>Reset password</button></a>
        </div>
    </body>
</html>