<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>BLL Cloud Platform - Change Password</title>
        <link rel="stylesheet" href="assets/css/reset_password.css">
    </head>
    <body>
        <div class="container">
            <form class="change-password-form">
                <h2>Change Password</h2>
                <input type="new_pwd" placeholder="New password">
                <input type="conf_pwd" placeholder="Confirm-password">
                <button type="submit">Change Password</button>
            </form>
        </div>
    </body>
</html>