{% extends "layout.html" %}

{% block title %}Document Uploads{% endblock %}

{% block css_styles %}
    <!-- your css styles per page -->
    <link rel="stylesheet" href={{ url_for("static", filename="css/uploads.css") }}>
{% endblock %}

{% block body %}
    <!-- body content -->
    <div class="form">
        <form class="row g-3">
          <h2>Upload Document</h2>
    <div class="col-md-6">
    <label for="inputName" class="form-label">First Name</label>
    <input type="text" class="form-control" id="inputName" placeholder="John" required>
  </div>
  <div class="col-md-6">
    <label for="inputname" class="form-label">Last Name</label>
    <input type="text" class="form-control" id="inputName" placeholder="Doe"required>
  </div>
  <div class="col-12">
    <label for="inputAddress" class="form-label">Address</label>
    <input type="text" class="form-control" id="inputAddress" placeholder="12 Main St"required>
  </div>
  <div class="col-12">
    <label for="inputEmail" class="form-label">Email</label>
    <input type="text" class="form-control" id="inputEmail" placeholder="JohnDoe@abc.com"required>
  </div>
  <div class="col-md-6">
    <label for="inputPhone" class="form-label">Phone</label>
    <input type="text" class="form-control" id="inputPhone" placeholder="1122333333"required>
  </div>
  <div class="col-md-4">
    <label for="inputBranch" class="form-label"required>Branch</label>
    <select id="inputBranch" class="form-select">
      <option selected>Choose...</option>
      <option>Ihama Branch</option>
      <option>Obakhavbaye Branch</option>
      <option>Ikeja Branch</option>
      <option>Ajah Branch</option>
      <option>Abeokuta Branch</option>
      <option>Asaba Branch</option>

    </select>
      
  </div>
  <div class="col-md-6">
    <label for="inputDate" class="form-label">Date</label>
    <input type="Date" class="form-control" id="inputDate"required>
  </div>
  <div class="col-md-4">
    <label for="inputState" class="form-label">Document Type</label>
    <select id="inputState" class="form-select"required>
      <option selected>Choose...</option>
         <option>Agreement Forms</option>
         <option >Payment Receipt</option>
         <option >Title Deeds</option>
         <option >Certificate of Occupancy</option>
         <option >Survey Certificate</option>
    </select>

  </div>

  <div class="col-md-2">
    <label for="inputZip" class="form-label">Other</label>
    <input type="text" class="form-control" id="inputZip">
  </div>
  <div class="mb-3">
  <label for="formFile" class="form-label">Browse Document</label>
  <input class="form-control" type="file" id="formFile">
</div>
  <div class="col-12">
    <input class="btn btn-primary" type="submit" value="Upload To Cloud">
<input class="btn btn-primary" type="reset" value="Reset">
  </div>
  
</form>
        
</div>
{% endblock %}

{% block js_scripts %}
<!-- your js script tag-->

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

{% endblock %}